<!DOCTYPE html>
<html>
<head>
    <title>Member List</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 50px auto;
        }
        th, td {
            padding: 12px;
            text-align: center;
            border: 1px solid #888;
        }
        th {
            background-color: #808080;
        }
    </style>
</head>
<body bgcolor=#112233>
    <h2 align="center"><mark>Members-List</mark></h2>
    <table bgcolor=#aabbcc>
        <tr >
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>phone</th>
            <th>joined_date</th>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.joined_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>